
/* Styling for the Navbar */
.navbar {
  background-color: #8accae; /* Background color for the navbar */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: #ffffff 1px 15px;
}

/* Styling for the logo text */
.logo {
  color: #fff; /* Text color */
  font-size: 25px; /* Font size */
}

.btn {
  background-color: #275586; /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.btn-delete-update{
  background-color: #72af94;
  border-radius: 5rem;
}

.btn-delete-update:hover{
  background-color: #8accae;
}
/* //addAuthor Style */
.container {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh; /* This centers the container vertically */
  
}

.allAuthor {
  font-size: 35px;
  color: #8accae;
  margin-bottom: 10px;
  font-family: Josefin Slab;
  text-align: center;
  margin-top: 20px;
}

label {
  font-size: 18px;
  color: #333;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #8accae;
  border-radius: 5px;
  font-size: 16px;
}

button {
  background-color: #8accae;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #5e8f68; /* Change the color on hover */
}

.btn-bd-primary {
  background-color: #8accae;
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  padding-top: 1px;
  border-radius: 20px;
}